.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.card {
  width: auto;
  height: auto;

  .card-img-top{
    max-height: 300px;
  }

  .card-text {
    font-size: 14px;
    color: #333;

    p {
      margin-bottom: 10px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}


.bg-primary-container {
  background-color: #007bff;
}
